---
import DefaultLayout from '@/layout/default.astro'
---

<DefaultLayout>
	<main class="grow w-full max-w-screen-xl mx-auto px-4 py-12">
		<h1>Astro</h1>

		<a href="/devlog">Devlog</a>
	</main>
</DefaultLayout>
