@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-sans: 'Lexend', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;

  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;
}

html {
  font-family: var(--font-sans);
}

.text-code-01 {
  font-family: var(--font-sans);
}

.text-label-01 {
  font-family: var(--font-sans);
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  letter-spacing: 0.32px;
}

.text-label-02 {
  font-family: var(--font-sans);
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.16px;
}

.text-body-01 {
  font-family: var(--font-sans);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.16px;
}

.text-body-02 {
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-heading-01 {
  font-family: var(--font-sans);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.16px;
}

.text-heading-02 {
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: 0px;
}

.text-heading-03 {
  font-family: var(--font-sans);
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-heading-04 {
  font-family: var(--font-sans);
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-heading-05 {
  font-family: var(--font-sans);
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-heading-06 {
  font-family: var(--font-sans);
  font-size: 2.625rem;
  line-height: 3.125rem;
  font-weight: 300;
  letter-spacing: 0px;
}

.text-heading-07 {
  font-family: var(--font-sans);
  font-size: 3.375rem;
  line-height: 4rem;
  font-weight: 300;
  letter-spacing: 0px;
}

.text-fluid-para-01 {
  font-family: var(--font-sans);
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 300;
  letter-spacing: 0px;
}

/* SM */
/* @media (min-width: 20rem) {
} */

/* MD */
/* @media (min-width: 42rem) {
} */

/* LG */
@media (min-width: 66rem) {
  .text-fluid-para-01 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

/* XLG */
/* @media (min-width: 82rem) {
} */

/* MAX */
@media (min-width: 99rem) {
  .text-fluid-para-01 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
