---
import '@/styles/globals.css'
import { ViewTransitions } from 'astro:transitions'
const { title, bodyStyle } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon-light.svg"
			media="(prefers-color-scheme:no-preference)"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon-dark.svg"
			media="(prefers-color-scheme:dark)"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon-light.svg"
			media="(prefers-color-scheme:light)"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || 'jskhan'}</title>

		{/* FONT START */}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
			rel="preload"
			as="style"
			onload="this.onload=null;this.rel='stylesheet'"
		/>
		<noscript>
			<link
				href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
				rel="stylesheet"
				type="text/css"
			/>
		</noscript>
		{/* FONT END */}
		<script is:inline data-astro-rerun>
			if (
				localStorage.getItem('theme') === 'dark' ||
				(!localStorage.getItem('theme') &&
					window.matchMedia('(prefers-color-scheme: dark)').matches)
			) {
				document.documentElement.classList.add('dark')
			} else {
				document.documentElement.classList.remove('dark')
			}
		</script>
		<script is:inline>
			window
				.matchMedia('(prefers-color-scheme: dark)')
				.addEventListener('change', ({ matches }) => {
					if (localStorage.getItem('theme')) return
					// Change class for darkmode
					if (matches) {
						document.documentElement.classList.add('dark')
					} else {
						document.documentElement.classList.remove('dark')
					}
				})
		</script>
		<ViewTransitions />
	</head>
	<body
		class="antialiased bg-background text-neutral-12 font-display flex min-h-screen w-full flex-col relative"
		style={{
			'min-height': '100dvh',
		}}
	>
		<slot />
	</body>
</html>
