---
import BaseLayout from './base.astro'
import NavBar from '@/components/nav'
---

<BaseLayout>
	<NavBar client:load transition:persist />
	<div class="grow flex flex-col w-full bg-gradient-to-t from-primary-3">
		<slot />
	</div>
</BaseLayout>
